@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body{
	display: flex;
	flex-direction: column;
	align-items: space-between;
	background: #fdfdfd;
	min-height: : 100vh;
}
header{
	height: 15vh;
	/*box-shadow: #bbb 2px 0 5px;*/
}

header, footer{
	background: url('../img/gplaypattern.png');
}

span{
	margin: 10px;
	font-size: 16px;
	border: 1px solid #337ab7 ;
	padding: 10px;
}

main{
	padding: 20px 0 ;
	min-height: 70vh;
}

main > div > div{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}



footer{

	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*box-shadow: #bbb -2px 0 5px;*/
}

footer >div {
	text-align: center;
}

.bg-info{
	padding: 10px;
}

a:hover,a:visited,a:focus{
	text-decoration: none;
}
